.subject-form-container {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 99;
 background: #000000cf;
 font-family: 'Segoe UI', 'Source Sans Pro', sans-serif;
 /* width: 100%;
 height: 100%; */
 inset: 0;
 display: none;
 justify-content: center;
 align-items: center;
}

.subject-form-container-wrapper {
 background: var(--sideBar-bg-color);
 width: 95%;
 max-width: 950px;
 height: fit-content;
 border: 1px solid rgb(48, 45, 45);
 border-radius: 12px;
 opacity: 0;
 animation-name: FadeInAnimation;
 animation-delay: 0.2s;
 animation-duration: 300ms;
 animation-timing-function: ease-out;
 animation-fill-mode: forwards;
}

body[active-form='create'] .subject-form-container {
 display: flex;
}

@media screen and (max-width: 500px) {
 .subject-form-container-wrapper {
  /* height: 550px; */
 }
}

.subject-form-input-content {
 padding: 25px 24px 14px 24px;
 position: relative;
 height: 100%;
}

/* input */

.subject-input-content {
 margin-bottom: 22px;
}

.subject-title-name-input {
 font-weight: 600;
 color: rgb(198, 198, 198);
 caret-color: rgb(128, 128, 128);
 /* padding: 12px 0; */
 font-size: 3.2rem;
 width: 100%;
 /* height: 80px; */
 background: rgba(0, 0, 0, 0);
 outline: none;
 border: none;
}

.subject-title-name-input::placeholder {
 color: rgb(56, 56, 56);
}

/* checkbox */

.subject-checkbox-content {
 display: flex;
 align-items: center;
 padding-left: 8px;
}

.subject-checkbox-content.q2 {
 margin-bottom: 28px;
}

.subject-ckb-label {
 font-size: 1.1rem;
 color: rgb(155, 155, 155);
 font-weight: 600;
 line-height: 120%;
 margin-left: 14px;
 display: block;
 height: 100%;
 width: 100%;
 padding: 8px 0;
}

.subject-checkbox-content .checkbox-input {
 height: 17px;
 width: 17px;
}

/* ################################## */
/* subject-icon-selection-container*/
/* ################################## */

.subject-icon-selection-container {
 /* border: 1px dotted rgb(49, 48, 48); */
 padding: 18px 12px;
 position: relative;
}

.subject-icon-selection-container .subject-icon-selection-content {
 display: flex;
 align-items: flex-end;
}

.subject-icon-selection-container .content-wrapper {
 color: rgb(132, 132, 132);
 /* background: rgb(51, 51, 51); */
 background: #2222224b;
 border: 1px solid rgb(52, 51, 51);
 border-radius: 5px;
 max-width: 600px;
 width: 100%;
 height: 122px;
 /* margin-top: 20px; */
 padding: 12px;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 flex-wrap: wrap;
 overflow: auto;
}

.reload-svg-btn {
 width: 30px;
 height: 30px;
 margin-left: 3px;
 margin-bottom: 8px;
 opacity: 0.5;
 transition: 300ms all;
}

.reload-svg-btn.rotate {
 pointer-events: none;
 animation: rotate_reload 2s infinite ease-in-out;
 opacity: 0.2;
}

.reload-svg-btn.rotate:hover {
 cursor: default;
 opacity: 0.2;
}

.reload-svg-btn:hover {
 opacity: 1;
 cursor: pointer;
}

.subject-icon-selection-container .content-wrapper .icon-selection-img {
 margin-right: 7px;
 margin-bottom: 8px;
 padding: 5px;
 border-radius: 5px;
 border: 2px solid #45454500;
 transition: 300ms all;
}

.subject-icon-selection-container .content-wrapper .icon-selection-img:hover {
 background: #6868684c;
}

.subject-icon-selection-container .content-wrapper .icon-selection-img.active {
 background: #6868684c;
 border: 2px solid #505050;
}

.icon-selection-img img {
 width: 24px;
 height: 24px;
 border-radius: 3px;
 transition: 300ms all;
}

.icon-selection-img img:hover:not(.icon-selection-img.active img) {
 /* background: #6868681e;
 border: 2px solid #454545; */
}

.subject-icon-selection-container .content-wrapper .icon-selection-img.active:hover {
 /* border: none; */
}

.icon-selection-img.active {
 /* position: relative; */
 /* position: relative;
  border-bottom: 5px solid white;
  border-radius: 3px 3px 0 0;
  margin-bottom: 33px; */
}

.subject-icon-selection-container .icon-selection-note {
 font-size: 1rem;
 font-weight: 500;
 line-height: 150%;
 color: rgb(73, 73, 73);
 margin-top: 16px;
}

.subject-icon-selection-container .icon-selection-note .icons-folder-link {
 color: rgb(171, 186, 104);
 font-family: Consolas, 'JetBrains Mono';
}

.subject-icon-selection-container .icon-selection-note .icons-folder-link:hover {
 cursor: pointer;
 text-decoration: underline;
}

.subject-icon-selection-container .icon-selection-note .t2 {
 font-size: 0.8rem;
 color: rgb(128, 128, 128);
 display: block;
 margin-left: 8px;
 text-decoration: underline;
 text-underline-offset: 2px;
}

/* ##################### */
/* submit */
/* ##################### */

.subject-form-submit-content {
 width: 100%;
 padding: 18px 0;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.submit-inner-content {
 display: flex;
 align-items: flex-end;
 justify-content: center;
}

.create-f-btn {
 font-size: 1.1rem;
 font-weight: 500;
 border: 2px solid;
 border-radius: 5px;
 padding: 12px 55px;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 400ms all;
}

.create-form-button {
 color: #2ecc71;
 border-color: #2ecc71;
}

.create-form-button:hover {
 background: #2ecc71;
 color: rgba(38, 38, 38, 0.933);
}

.cancel-form-button {
 color: #e74c3c;
 border-color: #e74c3c;
 margin-left: 28px;
}

.cancel-form-button:hover {
 background: #e74c3c;
 color: #eeee;
}
