body,
html {
 font-family: 'Segoe UI', 'Source Sans Pro', sans-serif;
 color: #353b48;
 /* font-size: 16px; */
 background: var(--body-container);
 zoom: var(--zoom-body);
 /* -webkit-filter: contrast(106%);
 filter: contrast(106%); */
 -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
 font-style: normal;
 font-stretch: 100%;
 vertical-align: baseline;
 overflow-wrap: break-word;
 overflow: hidden;
 text-rendering: optimizelegibility;
 text-size-adjust: 100%;
 -webkit-font-smoothing: antialiased;
 letter-spacing: normal;
}

a {
 text-decoration: none;
 color: var(--text-color);
}

/* Scroll bar style */
::-webkit-scrollbar {
 width: 5px;
 height: 3px;
}

::-webkit-scrollbar-track {
 background: var(--body-container);
 border-radius: 0px;
 /* box-shadow: inset 7px 0px 12px #282c34; */
}

::-webkit-scrollbar-thumb {
 background: #383248;
 border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
 background: #8aad0d;
}

body[pageLoading='false'] :is(.pre-block, .terminal-output, .tab-container) {
 animation: FadeInAnimation 0.3s ease-in-out 0.8s forwards;
}

.pre-block::-webkit-scrollbar {
 width: 2px;
 height: 2px;
}

.pre-block:not(.pre-block + .terminal-output) {
 margin-bottom: calc(1.2 * 1.7rem);
}

.pre-block + .terminal-output {
 margin-top: calc(1.2 * -0.6rem);
}

.pre-block.full-height {
 max-height: none !important;
}

[full-height] {
 max-height: none !important;
}

.page-msg-content {
 font-size: 1.4rem;
 line-height: 120%;
 border-radius: 5px;
 text-align: center;
 margin-top: 33px;
}

.page-msg-content {
 border-style: solid;
 border-width: 1px;
}

.page-msg-content.guide {
 color: #0984e3;
 border-color: #0984e3;
 background: rgba(17, 132, 255, 0.08);
}

.page-msg-content.warning {
 color: #f1c100;
 border-color: #f1c100;
 background: rgba(241, 193, 0, 0.08);
}

.page-msg-content.error {
 color: #ea2611;
 border-color: #ea2611;
 background: rgba(233, 17, 17, 0.08);
}

.page-msg-content .msg-title {
 border-bottom: 1px solid inherit;
 border-color: inherit;
 font-weight: 500;
 padding: 12px 0;
}

.page-msg-content.guide .msg-title {
 border-bottom: 1px solid #1a486c;
}
.page-msg-content.warning .msg-title {
 border-bottom: 1px solid #6f5d16;
}
.page-msg-content.error .msg-title {
 border-bottom: 1px solid #5b1a12;
}

.page-msg-content .msg-info {
 padding: 12px 0;
 font-size: 1rem;
 font-weight: 500;
 display: block;
}

/* VSCODE Button */

.vscode-svg-btn {
 position: absolute;
 width: 25px;
 height: 25px;

 position: absolute;
 right: 0.4rem;
 z-index: 3;
 opacity: 0.4;
 transition: 500ms all;
 cursor: pointer;
}

.vscode-svg-btn:hover {
 opacity: 1;
}

.disable-btn {
 opacity: 0.1;
 pointer-events: none;
}

#blank-modal {
 display: none;
 position: absolute;
 inset: 0;
}

#blank-modal.show-menu {
 background-color: rgba(0, 0, 0, 0.388);
 display: block;
 z-index: 2;
}

#blank-modal.show-options {
 z-index: 11;
 display: block;
}

#blank-modal.show-tooltip {
 background-color: rgba(0, 0, 0, 0.596);
 z-index: 10;
 display: block;
}

@media screen and (max-width: 1366px) {
 body,
 html {
  zoom: var(--zoom-body);
  /* font-size: 15px; */
 }
}

@media screen and (max-width: 1000px) {
 body,
 html {
  zoom: var(--zoom-body);
  /* font-size: 12px;  */
 }

 .svg.vscode-svg-btn {
  display: none;
 }
}
