html {
 --scroll-width: 8px;
 --scroll-height: 3px;

 --text-color: #fff;
 --sideBar-bg-color: #161b22;
 --sideBar-footer-bg-color: var(--sideBar-bg-color);
 --body-container: #0d1117;
 /* --body-container: #1b1a1d; */

 --zoom-body: 0.9;
 --content-render-height: 123.4vh;
 --content-render-width: 123.4vw;

 /* --zoom-body: 1; 
--content-render-height: 100vh;
 --content-render-width: 100vw; */

 --sidebar-width: 320px;

 --sidebar-header-height: 50px;
 --sidebar-footer-height: 50px;
 --sidebar-create-content: 60px;

 --screen-width-animation-duration: 400ms;

 --input-search-input-color: #9d9d9d;
 --input-search-input-border-color: #474747;

 --nav-header-height: 79.95px;

 --sub-title-link-hover-bg-color: rgba(61, 61, 61, 0.22);

 --main-doc-header-content-bg-color: var(--sideBar-bg-color);
 --main-doc-header-content-border-bottom-color: #1b2533;

 --main-doc-header-path-view-content-bg-color: var(--body-container);
 --main-doc-header-path-view-text-color: #f6f6f6;

 --main-doc-content-width: 1200px;
 --main-doc-title-header-content-height: 55px;
 --main-doc-header-pathView-content-height: 45px;

 /* --main-doc-content-maximize-width: 1800px; */

 --menu-arrow-close-color: #505050;
 --menu-arrow-open-color: #ffff;
 --menu-arrow-hover-color: rgb(174, 174, 174);

 --hierarchy-line-color: #3f3f3f;
 --sub-title-highlight-bg-color: #007acc3b;

 --menuList-background-color: #11111123;
 --menuList-background-active-color: #25252600;
 --menuList-background-hover-color: #0404041d;
 --menuList-border-color: #333232;

 --title-link-menu-bg-active-color: #0c0c0c8f;

 /* --js-code-block-primary-bg-color: rgb(8, 27, 75); */
 --js-code-block-primary-bg-color: #212224;
 --terminal-block-primary-bg-color: #1f1f26;
 --styleSheet-block-primary-bg-color: #282c34;
 --hyperText-block-primary-bg-color: #071833;
 --python-code-block-primary-bg-color: #21242a;
 /* --python-code-block-primary-bg-color: #0b1222; */

 --tooltip-bg: #0d1117;
}

body[max-content='true'] {
 --main-doc-content-width: 1800px;
}

@media screen and (max-width: 1920px) {
 html {
  --zoom-body: 0.85;

  --content-render-height: 138.4vh;
  --content-render-width: 138.4vw;
 }
}

@media screen and (max-width: 1366px) {
 html {
  /* --content-render-height: 111vh; */
  /* --nav-header-height: 87px; */
 }
}

@media screen and (max-width: 1000px) {
 html {
  --main-doc-content-width: 1230px;
  --nav-header-height: 79.98px;

  --scroll-width: 2px;
  --scroll-height: 3px; --sidebar-width: 350px;
 }
}

html[light-theme] {
 --text-color: #2f3640;
 --sideBar-header-bg-color: #f1f2f6;
 --sideBar-Menu-bg-color: #ffffff;
 --body-container: #f1f2f6;

 --input-search-input-color: #2c3e50;
 --input-search-input-border-color: #ecf0f1;

 --sub-title-link-hover-bg-color: rgba(61, 61, 61, 0.22);
 --menu-arrow-close-color: #595959;
 --menu-arrow-open-color: rgb(34, 34, 34);
 --menu-arrow-hover-color: rgb(135, 135, 135);

 --hierarchy-line-color: #bebebe;
 --sub-title-highlight-bg-color: #ff7f50;

 --menuList-background-active-color: #ffffff;
 --menuList-background-hover-color: #e3e3e37d;

 --title-link-menu-bg-active-color: #a4a4a454;

 background: #c9ad59;
}
