.body-container {
 background: var(--body-container);
 height: var(--content-render-height);
 display: flex;
 flex-flow: row nowrap;
 align-items: center;
 position: relative;
}

.sideBar {
 width: var(--sidebar-width);
 background: var(--sideBar-bg-color);
 display: block;
 z-index: 11;
 position: relative;
 animation: FadeInAnimation 0.5s backwards;
 overflow-y: hidden;
 max-height: var(--sidebar-height);
 height: 100%;
 border-radius: 0;
 transition: 0.5s max-height;
}

.sideBar.no-sideBar {
 width: 0;
 display: none;
}

@media screen and (max-width: 1200px) {
 .sideBar {
  /* display: none; */
  animation: none;
  position: absolute;
  max-height: calc(var(--sidebar-height) - 150px);
  margin-left: 22px;
  border-radius: 12px;
 }
}

.sideBar .sideBar-container {
 position: relative;
 opacity: 0;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-content: stretch;
 align-items: stretch;
 height: 100%;
 animation: FadeInAnimation 300ms forwards;
 overflow-y: hidden;
}

.sideBar-container.hide {
 display: none;
}

@media screen and (max-width: 700px) {
 .sideBar {
  display: none;
  max-height: calc(var(--sidebar-height) - 10%);
  margin-bottom: 9vh;
 }
}

.sideBar .sideBar-container .bottom-wrapper {
 display: flex;
 height: 100%;
 flex-direction: column;
 justify-content: space-between;
 overflow: hidden;
}

.main-content-container {
 flex: 2;
 background: var(--body-container);
 width: var(--content-render-width);
 height: var(--content-render-height);
}

.sideBar.sideBar-slide {
 animation: sideBarSlideAnimation var(--screen-width-animation-duration) forwards;
}

.sideBar.sideBar-slide-reverse {
 animation: sideBarSlideAnimation2 var(--screen-width-animation-duration) forwards;
}

@media screen and (max-width: 1200px) {
 .sideBar.sideBar-slide {
  animation-timing-function: cubic-bezier(0.33, 0.37, 0.31, 1.42);
 }

 .sideBar.sideBar-slide-reverse {
  animation-timing-function: cubic-bezier(0.69, -0.26, 0.89, 0.5);
 }
}

.no-display {
 display: none !important;
}
