 code[class*='language-'],
pre[class*='language-'] {
 white-space: pre;
 word-spacing: normal;
 word-break: normal;
 word-wrap: normal;
 -webkit-hyphens: none;
 -moz-hyphens: none;
 -ms-hyphens: none;
 hyphens: none;
}

pre[class*='language-'] {
 overflow: auto;
}

:not(pre) > code[class*='language-'] {
 border-radius: 0.3em;
 white-space: normal;
}  
 