#page-content-wrapper {
 color: var(--text-color);
 font-size: 1.4rem;
 font-weight: 400;
}

#page-content-wrapper :is(.text-box, .warning-text) {
 line-height: 1.65;
}

#page-content-wrapper :is(.side-list-titles-nav-content, .text, .text-box, .warning-text, .underline-text),
.list-content li {
 font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
 /* font-family: 'Optimistic Display', Verdana, 'Open Sans', 'Source Sans Pro', sans-serif; */
}

/* #region >>> Table Content Topics <<< */

.main_table_content_topic_page {
 background: var(--body-container);
 width: 100%;
 margin: 0;
 transition: 0.6s all;
 animation-name: FadeInAnimation;
 animation-duration: 0.3s;
 position: relative;
 padding: 18px 0 12px 0;
 margin-bottom: 24px;
}

.main_table_content_topic_page h1 {
 color: rgba(255, 255, 255, 0.8);
 font-size: 120%;
 text-shadow: 1px 1px 1px #000;
 font-weight: 600;
 margin-bottom: 14px;
 height: 100%;
 position: relative;
}

.main_table_content_topic_page .titles_list_content {
 font-family: 'Open Sans', 'Segoe UI', 'Optimistic Display', 'Source Sans Pro', sans-serif;
 border-top: 2px dotted rgb(40, 40, 40);
 border-bottom: 2px dotted rgb(40, 40, 40);
 padding: 14px 0 14px 0;
 overflow-y: hidden;
 overflow-x: auto;
}

.main_table_content_topic_page .titles_list_content::-webkit-scrollbar-thumb {
 background: rgba(26, 255, 167, 0.532);
}

/* sticky table content */

.sticky_table_content_topic_page {
 display: none;
 background: var(--sideBar-bg-color);
 position: fixed;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 /* padding: 0px 2px 4px 0; */
 transition: 0.6s all;
 width: 95%;
 max-width: var(--main-doc-content-width);
 height: 95%;
 max-height: 500px;
 /* overflow: hidden; */
 border: 2px solid #191818;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 border-radius: 12px;
 animation: stickyTableContent 0.2s forwards;
 overflow: hidden;
}

.sticky_table_content_topic_page.view_sticky_table_content {
 display: block;
 z-index: 11;
}

.sticky_table_content_topic_page h1 {
 font-size: 150%;
 font-weight: 500;
 color: rgb(82, 255, 88);
 border-bottom: 2px solid #2c2b2b;
 margin-bottom: 2px;
 padding: 15px 12px;
}

.sticky_table_content_topic_page .titles_list_content {
 height: 100%;
 max-height: 430px;

 overflow: auto;
 padding: 16px 5px 22px 9px;
 margin: 2px 1px 0 0;
}

@media screen and (max-height: 380px) {
 .sticky_table_content_topic_page {
  top: 50%;
 }
 .sticky_table_content_topic_page .titles_list_content {
  height: 105.4vh;
 }
}

.sticky_table_content_topic_page .titles_list_content::-webkit-scrollbar {
 width: 2px;
 height: 2px;
}
.sticky_table_content_topic_page .titles_list_content::-webkit-scrollbar-track {
 background: var(--sideBar-bg-color);
}

.sticky_table_content_topic_page .titles_list_content::-webkit-scrollbar-thumb {
 background: rgb(9, 255, 161);
}

/* all table content list */

.sticky_table_content_topic_page .titles_list_content li {
 width: max-content;
 margin-left: 5px;
}

.main_table_content_topic_page .titles_list_content li {
 /* position: relative; */
 width: max-content;
 opacity: 0;
 animation: table_content_list_slide 0.4s forwards var(--delay);
 margin-left: 5px;
}

.sticky_table_content_topic_page .titles_list_content li a,
.main_table_content_topic_page .titles_list_content li a {
 color: rgba(255, 255, 255, 0.769);
 line-height: 140%;
 font-weight: 500;
 cursor: pointer;
 transition: 0.3s color;
}

.sticky_table_content_topic_page .titles_list_content li a code,
.main_table_content_topic_page .titles_list_content li a code {
 cursor: pointer;
}

.sticky_table_content_topic_page .titles_list_content li a:hover,
.main_table_content_topic_page .titles_list_content li a:hover {
 text-decoration: underline;
 text-decoration-color: rgb(156, 156, 156);
 color: #fff;
}

.sticky_table_content_topic_page .titles_list_content li.nav-sub-title,
.main_table_content_topic_page .titles_list_content li.nav-sub-title {
 font-size: 1.3rem;
 margin-bottom: 1rem;
}

.sticky_table_content_topic_page .titles_list_content li.nav-sub-sub-title,
.main_table_content_topic_page .titles_list_content li.nav-sub-sub-title {
 font-size: 1.2rem;
 margin-bottom: 0.7rem;
 margin-left: 1.2rem;
}

:is(.sticky_table_content_topic_page, .main_table_content_topic_page) .titles_list_content li.nav-sub-title:last-child,
:is(.sticky_table_content_topic_page, .main_table_content_topic_page) .titles_list_content li.nav-sub-sub-title:last-child,
:is(.sticky_table_content_topic_page, .main_table_content_topic_page) .titles_list_content li.nav-sub-sub-sub-title:last-child {
 margin-bottom: 0;
}

.sticky_table_content_topic_page .titles_list_content li.nav-sub-sub-sub-title,
.main_table_content_topic_page .titles_list_content li.nav-sub-sub-sub-title {
 font-size: 1.1rem;
 margin-bottom: 0.6rem;
 margin-left: 2rem;
}

.sticky_table_content_topic_page .titles_list_content li.nav-sub-sub-sub-title + li.nav-sub-title,
.sticky_table_content_topic_page .titles_list_content li.nav-sub-sub-sub-title + li.nav-sub-sub-title,
.sticky_table_content_topic_page .titles_list_content li.nav-sub-sub-title + li.nav-sub-title,
.main_table_content_topic_page .titles_list_content li.nav-sub-sub-sub-title + li.nav-sub-title,
.main_table_content_topic_page .titles_list_content li.nav-sub-sub-sub-title + li.nav-sub-sub-title,
.main_table_content_topic_page .titles_list_content li.nav-sub-sub-title + li.nav-sub-title {
 margin-top: 1rem;
}

.sticky_table_content_topic_page .titles_list_content .nav-sub-title:last-child,
.main_table_content_topic_page .titles_list_content .nav-sub-title:last-child {
 margin-bottom: 0;
}

/* table content button */

.titles-list-menu-active-btn {
 display: none;
 /* position: fixed; */
 position: absolute;
 border: 1px solid #283340;
 background: var(--main-doc-header-content-bg-color);
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 /* border-bottom: 7px solid var(--main-doc-header-content-border-bottom-color); */
 border-radius: 10px;
 cursor: pointer;
 opacity: 0.5;
 width: 55px;
 height: 55px;
 justify-content: center;
 align-items: center;
 transition: 0.5s all;
}

.titles-list-menu-active-btn .topic-menu-style {
 width: 30px;
 height: 30px;
 margin-top: 5px;
}

.titles-list-menu-active-btn.view {
 display: none;
 top: 65px;
 right: 0;
 z-index: 2;
 animation: translateFromUpToDown 0.5s backwards 0.2s normal;
}

body[max-content='true'] .titles-list-menu-active-btn.view {
 display: flex;
}

.titles-list-menu-active-btn.view:hover,
.titles-list-menu-active-btn.view:hover .topic-menu-style {
 opacity: 1;
}

@media screen and (max-width: 1800px) {
 .titles-list-menu-active-btn.view {
  display: flex;
 }

 .sticky_table_content_topic_page.view_sticky_table_content {
  display: block;
 }
}

/* #endregion */

/* #region >>> Side List Titles nav content <<< */

.side-list-titles-nav-content {
 border-right: 1px dotted rgb(41, 41, 41);
 position: relative;
 margin-left: 40px;
 top: 80px;
 width: calc(calc(var(--content-render-width) - 328px) - 83vw);
 z-index: 1;
 display: none;

 /* height: 30vh;
 overflow: auto;
 background: #000; */

 transition: var(--screen-width-animation-duration) all;
}

body[sidebar='false'] .side-list-titles-nav-content.show,
body[newTab] .side-list-titles-nav-content.show {
 width: calc(calc(var(--content-render-width) - 328px) - 77vw);
}

@media screen and (max-width: 2070px) {
 .side-list-titles-nav-content {
  width: calc(calc(var(--content-render-width) - 328px) - 86vw);
 }
}

@media screen and (max-width: 1920px) {
 .side-list-titles-nav-content {
  width: calc(calc(var(--content-render-width) - 328px) - 96.5vw);
 }

 body[sidebar='false'] .side-list-titles-nav-content.show,
 body[newTab] .side-list-titles-nav-content.show {
  width: calc(calc(var(--content-render-width) - 328px) - 88vw);
 }
}

.side-list-titles-nav-content.show {
 opacity: 1 !important;
 display: block;
}

body[max-content='true'] .side-list-titles-nav-content.show {
 display: none;
}

@media screen and (max-width: 1800px) {
 .side-list-titles-nav-content,
 .side-list-titles-nav-content.show {
  display: none;
 }
}

.side-list-titles-nav-content h1 {
 font-size: 1.4rem;
 color: rgb(195, 195, 195);
 margin-bottom: 1.5rem;
 font-weight: 600;
}

.side-list-titles-nav-content .side-titles-list {
 font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
 font-size: 1rem;
 font-weight: 500;
 line-height: 140%;
 height: 100%;
 /* border-left: 1px solid rgb(39, 39, 39); */
 padding: 0.5rem 0;
 padding-left: 25px;
 opacity: 0;
 animation-name: FadeInAnimation;
 animation-duration: 1.5s;
 animation-delay: 0.2s;
 animation-fill-mode: forwards;
}

/* .side-titles-list {
 font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
 font-weight: 500;
} */
.side-titles-list li a {
 color: rgb(216, 216, 216);
 margin-left: -15px;
 vertical-align: super;
}

.side-titles-list li.nav-active a {
 color: #ffff;
}

.side-titles-list li a:hover {
 text-decoration: underline;
 cursor: pointer;
}

.side-titles-list li.nav-active a {
}

.side-titles-list li.nav-sub-title {
 font-size: 1.2rem;
 font-weight: 500;
 margin-left: 16px;
 margin-bottom: 12px;
}

.side-titles-list li.nav-sub-sub-title {
 font-size: 1.1rem;
 font-weight: 500;
 margin-left: 28px;
 margin-bottom: 9px;
}

.side-titles-list li.nav-sub-sub-sub-title {
 font-size: 1rem;
 font-weight: 500;
 margin-left: 33px;
 margin-bottom: 9px;
}

.side-titles-list li.nav-sub-title::before,
.side-titles-list li.nav-sub-sub-title::before,
.side-titles-list li.nav-sub-sub-sub-title::before {
 content: '';
 background-color: var(--main-doc-header-content-bg-color);
 position: relative;
 display: inline-block;
 height: 17px;
 width: 3px;
 border-radius: 3px;
 transition: 0.3s all;
}

.side-titles-list li.nav-sub-title.nav-active::before,
.side-titles-list li.nav-sub-sub-title.nav-active::before,
.side-titles-list li.nav-sub-sub-sub-title.nav-active::before {
 width: 4px;
}

.side-titles-list li.nav-sub-title::before {
 top: -6px;
 right: 38px;
}
.side-titles-list li.nav-sub-sub-title::before {
 top: -4px;
 right: 50px;
}
.side-titles-list li.nav-sub-sub-sub-title::before {
 top: -4px;
 right: 55px;
}


.side-titles-list li.nav-sub-title.nav-active::before {
 background-color: #16a085;
 box-shadow: 0px 0px 15px 0px #16a085;
}
.side-titles-list li.nav-sub-sub-title.nav-active::before {
 background-color: #d4d729;
 box-shadow: 0px 0px 15px 0px #d4d729;
}
.side-titles-list li.nav-sub-sub-sub-title.nav-active::before {
 background-color: #ff2828;
 box-shadow: 0px 0px 15px 0px #ff2828;
}

.side-titles-list li.nav-active::before {
 animation: FadeInAnimation 1.2s 2s ease-out infinite alternate-reverse;
}

li.nav-sub-sub-title + li.nav-sub-title,
li.nav-sub-sub-sub-title + li.nav-sub-title {
 /* margin-top: 14px; */
}

li.nav-sub-sub-title + li.nav-sub-sub-sub-title {
 /* margin-top: 8px; */
}

/* #endregion */

/* #region >>> titles contents & content wrapper <<< */

#page-content-wrapper .main-title {
 font-weight: 600;
 line-height: 130%;
 max-width: 100%;
 white-space: wrap;
 word-break: break-word;
 caret-color: rgba(255, 255, 255, 0.81);
 margin-top: calc(1.2 * 3rem);
 margin-bottom: 1rem;
 cursor: pointer;
}

@media screen and (max-width: 800px) {
 #page-content-wrapper .main-title {
  margin-top: calc(1.2 * 2rem);
 }
}

#page-content-wrapper .min-read {
 display: block;
 color: #7b7b7b;
 font-size: 1rem;
 font-weight: 500;
 margin-bottom: calc(1.2 * 1.2rem);
 cursor: default;
}

#page-content-wrapper .sub-title,
#page-content-wrapper .sub-sub-title,
#page-content-wrapper .sub-sub-sub-title {
 font-weight: 500;
 line-height: 130%;
 max-width: fit-content;
 white-space: wrap;
 word-break: break-word;
 caret-color: rgba(255, 255, 255, 0.81);
 padding-top: 0.6rem;
 margin-bottom: 1.4rem;
 position: relative;
 cursor: default;
 user-select: none;
}

#page-content-wrapper .main-title {
 font-size: clamp(2.4rem, 5vw, 2.8rem);
}

#page-content-wrapper .sub-title {
 font-size: clamp(2.2rem, 6vw, 2.5rem);
 padding-top: 0.3;
}

#page-content-wrapper .sticky_table_content_topic_page + .sub-title {
 padding-top: 0;
}

#page-content-wrapper .sub-sub-title {
 font-size: clamp(1.8rem, 6vw, 2rem);
 color: #e1b12c;
}

#page-content-wrapper .sub-sub-sub-title {
 font-size: clamp(1.5rem, 6vw, 1.8rem);
 color: #2ecc71;
}

#page-content-wrapper .sub-title.focus,
#page-content-wrapper .sub-sub-title.focus,
#page-content-wrapper .sub-sub-sub-title.focus {
 animation: title_focus 0.4s ease-out 0s infinite;
}

#page-content-wrapper .main-title + .pre-block,
#page-content-wrapper .sub-title + .pre-block,
#page-content-wrapper .sub-sub-title + .pre-block,
#page-content-wrapper .sub-sub-sub-title + .pre-block {
 margin-top: 0;
}

/* content wrapper */

#page-content-wrapper :is(.sub-title:hover, .sub-sub-title:hover, .sub-sub-sub-title:hover) {
 text-decoration: underline;
 text-decoration-thickness: 1px;
 text-decoration-color: #505050;
 text-underline-offset: 5px;
 cursor: pointer;
}

#page-content-wrapper .content-wrapper {
 display: block;
 animation: title_wrapper_content 0.2s ease-in-out;
}

#page-content-wrapper .sub-title.hide-content + .content-wrapper,
#page-content-wrapper .sub-sub-title.hide-content + .content-wrapper,
#page-content-wrapper .sub-sub-sub-title.hide-content + .content-wrapper {
 display: none;
}

#page-content-wrapper .sub-title::before,
#page-content-wrapper .sub-sub-title::before,
#page-content-wrapper .sub-sub-sub-title::before {
 color: rgba(255, 255, 255, 0.127);
 font-size: 40%;
 content: '▼';
 position: absolute;
 left: -28px;
 bottom: 0;
 transition: 400ms color;
}

#page-content-wrapper .sub-sub-title::before {
 left: -28px;
}

#page-content-wrapper .sub-sub-sub-title::before {
 left: -24px;
}

@media screen and (max-width: 930px) {
 #page-content-wrapper .sub-title::before,
 #page-content-wrapper .sub-sub-title::before,
 #page-content-wrapper .sub-sub-sub-title::before {
  display: none;
 }
}

#page-content-wrapper .sub-title.hide-content::before,
#page-content-wrapper .sub-sub-title.hide-content::before,
#page-content-wrapper .sub-sub-sub-title.hide-content::before {
 content: '▶';
 color: rgba(255, 255, 255, 0.09);
}

#page-content-wrapper .sub-title:hover::before,
#page-content-wrapper .sub-sub-title:hover::before,
#page-content-wrapper .sub-sub-sub-title:hover::before {
 color: #eeee;
}

/* #endregion */

/* #region >>> text content <<< */

#page-content-wrapper .text {
 caret-color: rgba(255, 255, 255, 0.81);
 line-height: 180%;
 font-weight: inherit;
 /* margin-bottom: calc(1.2 * 0.832rem); */
 margin-bottom: 1.2rem;
 /* white-space: wrap; */
 word-break: break-word;
 word-wrap: break-word;

 max-width: 100%;
 width: 100%;
}

#page-content-wrapper .text-box hr {
 border: none;
 border-top: 1px solid rgba(255, 255, 255, 0);
 margin: 9px 0;
}

#page-content-wrapper .divider {
 width: 100%;
 border: 1px solid rgb(79, 79, 79);
 margin: 50px 0 28px 0;
}

/* #endregion */

/* #region >>> underline and title text <<< ### */

.underline-text {
 /* font-size: 1.2rem; */
 line-height: 160%;
 font-weight: inherit;
 margin-bottom: 9px;
 text-decoration: underline;
 /* text-decoration-color: inherit;
 text-decoration-style: double;
 text-decoration-line: underline; */
 text-underline-offset: 5px;
}

.title-text {
 font-size: 1.4rem;
 font-weight: 500;
 line-height: 160%;
 /* margin-top: calc(1.2 * 1.2rem); */
 margin-bottom: 1rem;
}

.underline-text.no-underline {
 text-decoration: none;
}

.underline-text.red {
 color: #e74c3c;
}
.underline-text.blue {
 color: #339fe7;
}
.underline-text.green {
 color: #2ecc71;
}
.underline-text.yellow {
 color: #f1c40f;
}
.underline-text.orange {
 color: #e67e22;
}
.underline-text.purple {
 color: #d980fa;
}
.underline-text.white {
 color: var(--text-color);
}

/*#endregion*/

/* #region  >>> links and tooltip <<< >>> */

#link-ref,
#link-nav,
#link-url,
tooltip {
 font-size: 95%;
 line-height: 140%;
 position: relative;
 text-decoration: none;
 font-weight: 400;
 padding: 0 2px;
 display: inline-block;
 background-color: rgba(97, 218, 251, 0.12);
 border-bottom: 1px solid rgba(97, 218, 251, 0.3);
 transition: 0.2s background-color, border;
 cursor: pointer;
}

@media screen and (max-width: 700px) {
 #link-ref,
 #link-nav,
 #link-url,
 tooltip {
  display: inline;
 }
}

#link-ref:hover,
#link-url:hover,
tooltip:hover {
 background-color: rgba(97, 218, 251, 0.4);
 border-bottom-color: #61dafb;
}

/* -------------- */
/* ToolTip */
/* -------------- */

tooltip .tooltiptext,
#link-ref .tooltiptext {
 font-size: 1.1rem;
 font-weight: 500;
 visibility: hidden;
 cursor: default;
 color: #fff;
 text-align: center;
 /* line-height: 170%; */
 line-height: 190%;
 width: max-content;
 max-width: 500px;
 padding: 15px 12px;
 background-color: var(--tooltip-bg);
 border: 1px solid rgb(44, 44, 44);
 border-radius: 8px;

 /* Position the tooltip */
 position: absolute;
 z-index: 5;
 top: 38px;
 left: 50%;
 transform: translateX(-50%);

 opacity: 0;
 margin-top: -10px;
 transition-property: margin, opacity;
 transition-duration: 0.3s;
}

tooltip .tooltiptext:hover {
 cursor: pointer;
}

tooltip .tooltiptext * {
 pointer-events: none;
}

tooltip:hover .tooltiptext,
#link-ref:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
 margin-top: 0px;
}

tooltip::before,
#link-ref::before,
#link-nav::before {
 color: #ffffff30;
 font-size: 0.6rem;
 position: absolute;
 bottom: 18px;
 left: -10px;
}

tooltip::before {
 content: '?';
 bottom: 15px;
 left: -5px;
}

#link-ref::before {
 content: '🔗';
}

#link-nav::before {
 content: '⬆️';
 bottom: 12px;
 left: -9px;
}

tooltip .tooltiptext::before,
#link-ref .tooltiptext::before {
 content: '';
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 height: 20px;
 top: -18px;
 width: 100%;
}

#link-ref .tooltiptext .link-text {
 cursor: pointer;
 font-size: 1rem;
 line-height: 1.5rem;
 font-weight: inherit;
 position: relative;
 display: block;
 color: #3498db;
 border-radius: 8px;
 padding: 5px 12px;
 border: 3px solid #3498db72;
 transition-property: color, background-color;
 transition-duration: 0.6s;
}

#link-ref .tooltiptext .link-text:hover {
 background: #3498db;
 color: #fff;
}

#link-ref .tooltiptext .link-text.mt {
 margin-top: 12px;
}

tooltip .tooltiptext.left,
.tooltip-modal p.left {
 text-align: left;
}

/* ################ */
/* tooltip modal */
/* ################ */

.tooltip-modal {
 display: none;
 position: fixed;
 width: 95%;
 max-width: 900px;
 height: fit-content;
 background-color: var(--tooltip-bg);
 border: 1px solid #2c2b2b;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 border-radius: 8px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.tooltip-modal.show {
 z-index: 12;
 display: block;
 animation: stickyTableContent 0.3s forwards;
 animation-timing-function: cubic-bezier(0.49, -0.33, 0.27, 1.98);
}

.tooltip-modal .tooltip-title {
 color: #2ecc71;
 /* font-size: 2rem; */
 font-size: clamp(2rem, 8vw, 2.5rem);
 text-transform: capitalize;
 font-weight: 600;
 line-height: 120%;
 /* margin-bottom: 8px; */
 padding: 12px 0 15px 12px;
 border-bottom: 1px dotted #2c2b2b;
}

.tooltip-modal .tooltip-content {
 font-size: 1.4rem;
 font-weight: 500;
 line-height: 180%;
 margin-left: 15px;
 padding: 8px 5px 8px 0;
 overflow-y: auto;
 max-height: 500px;
}

.tooltip-modal .tooltip-content::-webkit-scrollbar-thumb {
 background: rgb(9, 255, 161);
}

tooltip .tooltiptext span,
.tooltip-modal .tooltip-content span {
 color: #fffd8a;
 font-weight: 700;
 margin-right: 2px;
}

tooltip .tooltiptext hr,
.tooltip-modal .tooltip-content hr {
 border: none;
 margin: 5px 0;
}

@media screen and (max-width: 1000px) {
 .tooltip-modal .tooltip-title {
  /* font-size: 1.6rem; */
 }
 .tooltip-modal .tooltip-content {
  /* font-size: 1rem; */
  /* overflow-y: auto;
  max-height: 400px; */
 }
}

/* #endregion */

/* #region >>> Note and Warning text box <<<*/

#page-content-wrapper .text-box {
 /* font-size: 1.2rem; */
 position: relative;
 /* font-weight: 500; */
 line-height: 170%;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 cursor: default;
 background: #3b3b3b73;
 border-radius: 3px;
 padding: 0.6rem 1.47rem 0.6rem 0.882rem;
 margin: 1.5rem 0;
 border: 1px solid #504c4c;
 transition: 0.4s all;
}

#page-content-wrapper .text-box.note,
#page-content-wrapper .text-box.info,
#page-content-wrapper .text-box.tip,
#page-content-wrapper .text-box.warning {
 padding: 0.2rem 1.47rem 0.6rem 0.882rem;
}

#page-content-wrapper .text-box:hover {
 box-shadow: rgba(0, 0, 0, 0.15) 3.95px 3.95px 3.6px !important;
}

#page-content-wrapper .text-box.note::before,
#page-content-wrapper .text-box.info::before,
#page-content-wrapper .text-box.tip::before,
#page-content-wrapper .text-box.warning::before {
 display: block;
 font-size: 1.2rem;
 font-weight: 500;
 margin-left: 25px;
 margin-bottom: 5px;
}

#page-content-wrapper .text-box.note::after,
#page-content-wrapper .text-box.info::after,
#page-content-wrapper .text-box.tip::after,
#page-content-wrapper .text-box.warning::after {
 content: '';
 position: absolute;
 display: inline-block;
 background-repeat: no-repeat;
 background-size: contain;
 -webkit-background-size: contain;
 top: 10px;
 left: 10px;
 height: 22px;
 width: 22px;
}

/* note box */

#page-content-wrapper .text-box.note {
 background: #524c2c7d;
 border: none;
 border-left: 8px solid #ffd500;
}

#page-content-wrapper .text-box.note::before {
 content: 'Note';
 color: #ffd500;
}

#page-content-wrapper .text-box.note::after {
 background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.889 41.6667H8.33344V11.1111H26.6946L29.4723 8.33331H8.33344C7.59673 8.33331 6.89019 8.62597 6.36926 9.14691C5.84832 9.66784 5.55566 10.3744 5.55566 11.1111V41.6667C5.55566 42.4034 5.84832 43.1099 6.36926 43.6308C6.89019 44.1518 7.59673 44.4444 8.33344 44.4444H38.889C39.6257 44.4444 40.3323 44.1518 40.8532 43.6308C41.3741 43.1099 41.6668 42.4034 41.6668 41.6667V20.8333L38.889 23.6111V41.6667Z' fill='%23ffd500'/%3E%3Cpath d='M46.5694 8.1111L41.8889 3.43055C41.6811 3.22226 41.4344 3.057 41.1627 2.94424C40.891 2.83148 40.5997 2.77344 40.3055 2.77344C40.0114 2.77344 39.7201 2.83148 39.4484 2.94424C39.1767 3.057 38.9299 3.22226 38.7222 3.43055L19.6805 22.5833L18.1389 29.2639C18.0732 29.5877 18.0801 29.9221 18.1591 30.2429C18.2381 30.5638 18.3872 30.8631 18.5957 31.1194C18.8042 31.3758 19.0669 31.5827 19.365 31.7253C19.663 31.868 19.989 31.9428 20.3194 31.9444C20.4902 31.9632 20.6625 31.9632 20.8333 31.9444L27.5694 30.4583L46.5694 11.2778C46.7777 11.07 46.943 10.8233 47.0557 10.5516C47.1685 10.2799 47.2265 9.9886 47.2265 9.69444C47.2265 9.40027 47.1685 9.10899 47.0557 8.8373C46.943 8.5656 46.7777 8.31882 46.5694 8.1111V8.1111ZM26.125 27.8889L21.0416 29.0139L22.2222 23.9722L36.5555 9.54166L40.4722 13.4583L26.125 27.8889ZM42.0416 11.8889L38.125 7.97221L40.2777 5.77777L44.2222 9.72221L42.0416 11.8889Z' fill='%23ffd500'/%3E%3C/svg%3E%0A");
 width: 25px;
 height: 25px;
}

#page-content-wrapper .text-box.note:hover {
 border-left: 8px solid #ffd50074;
}

/* warning box */

#page-content-wrapper .text-box.warning {
 background: #ad2f228a;
 border: none;
 border-left: 8px solid #f2422f;
}

#page-content-wrapper .text-box.warning::before {
 content: 'Warning';
 color: #f2422f;
 margin-left: 24px;
}
#page-content-wrapper .text-box.warning::after {
 background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.6666 16.6667H23.3333V35H26.6666V16.6667Z' fill='%23f2422f'/%3E%3Cpath d='M26.6666 38.3333H23.3333V41.6667H26.6666V38.3333Z' fill='%23f2422f'/%3E%3Cpath d='M26.8765 0H23.1235L0 44.7056V50H50V44.7056L26.8765 0ZM46.6667 46.6667H3.33333V45.5166L25 3.62771L46.6667 45.5166V46.6667Z' fill='%23f2422f'/%3E%3C/svg%3E%0A");
}

#page-content-wrapper .text-box.warning:hover {
 border-left: 8px solid #a72a1ca0;
}

/* info box */

#page-content-wrapper .text-box.info {
 background: #0096e644;
 border: none;
 border-left: 8px solid #0097e6;
}

#page-content-wrapper .text-box.info::before {
 content: 'Info';
 color: #0097e6;
}

#page-content-wrapper .text-box.info::after {
 background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 0C20.0555 0 15.222 1.46622 11.1108 4.21326C6.99952 6.96029 3.79521 10.8648 1.90302 15.4329C0.0108321 20.0011 -0.484251 25.0277 0.480379 29.8772C1.44501 34.7268 3.82603 39.1813 7.32234 42.6777C10.8187 46.174 15.2732 48.555 20.1228 49.5196C24.9723 50.4843 29.9989 49.9892 34.5671 48.097C39.1352 46.2048 43.0397 43.0005 45.7867 38.8892C48.5338 34.778 50 29.9445 50 25C50 21.7169 49.3534 18.466 48.097 15.4329C46.8406 12.3998 44.9991 9.64379 42.6777 7.32233C40.3562 5.00086 37.6002 3.15938 34.5671 1.90301C31.534 0.646644 28.2831 0 25 0V0ZM25 45C21.0444 45 17.1776 43.827 13.8886 41.6294C10.5996 39.4318 8.03617 36.3082 6.52242 32.6537C5.00867 28.9991 4.6126 24.9778 5.38431 21.0982C6.15601 17.2186 8.06082 13.6549 10.8579 10.8579C13.6549 8.06081 17.2186 6.156 21.0982 5.38429C24.9778 4.61259 28.9992 5.00866 32.6537 6.52241C36.3082 8.03616 39.4318 10.5996 41.6294 13.8886C43.827 17.1776 45 21.0444 45 25C45 30.3043 42.8929 35.3914 39.1421 39.1421C35.3914 42.8929 30.3043 45 25 45V45Z' fill='%230097e6'/%3E%3Cpath d='M25 17.5C26.3807 17.5 27.5 16.3807 27.5 15C27.5 13.6193 26.3807 12.5 25 12.5C23.6193 12.5 22.5 13.6193 22.5 15C22.5 16.3807 23.6193 17.5 25 17.5Z' fill='%230097e6'/%3E%3Cpath d='M25 20C24.337 20 23.7011 20.2634 23.2322 20.7322C22.7634 21.2011 22.5 21.837 22.5 22.5V35C22.5 35.663 22.7634 36.2989 23.2322 36.7678C23.7011 37.2366 24.337 37.5 25 37.5C25.663 37.5 26.2989 37.2366 26.7678 36.7678C27.2366 36.2989 27.5 35.663 27.5 35V22.5C27.5 21.837 27.2366 21.2011 26.7678 20.7322C26.2989 20.2634 25.663 20 25 20Z' fill='%230097e6'/%3E%3C/svg%3E%0A");
 top: 11px;
}

#page-content-wrapper .text-box.info:hover {
 border-left: 8px solid #00a6ff76;
}

/* tip box */

#page-content-wrapper .text-box.tip {
 background: #45bd3244;
 border: none;
 border-left: 8px solid #3fb42d;
}

#page-content-wrapper .text-box.tip::before {
 content: 'Tip';
 color: #3fb42d;
}
#page-content-wrapper .text-box.tip::after {
 background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 6.64581L39.5833 13.125V22.9166C39.5833 32.3333 33.375 41.0208 25 43.6042C16.625 41.0208 10.4167 32.3333 10.4167 22.9166V13.125L25 6.64581ZM25 2.08331L6.25 10.4166V22.9166C6.25 34.4791 14.25 45.2916 25 47.9166C35.75 45.2916 43.75 34.4791 43.75 22.9166V10.4166L25 2.08331ZM22.9167 14.5833H27.0833V18.75H22.9167V14.5833ZM22.9167 22.9166H27.0833V35.4166H22.9167V22.9166Z' fill='%233fb42d'/%3E%3C/svg%3E%0A");
 height: 25px;
 width: 25px;
}

#page-content-wrapper .text-box.tip:hover {
 border-left: 8px solid #45bd3298;
}
/* transparent box */

#page-content-wrapper .text-box.transparent {
 background: #00000000;
 box-shadow: none;
 border: 1px solid rgb(94, 94, 94);
}

#page-content-wrapper .text-box.transparent:hover {
 box-shadow: none !important;
}

#page-content-wrapper .text-box ul {
 margin: 12px 0;
 margin-left: 28px;
 list-style-type: disc;
}

#page-content-wrapper .text-box ul li {
 font-size: 1.2rem;
 line-height: 160%;
 margin-bottom: 8px;
 padding-left: 5px;
}

#page-content-wrapper .text-box ul[dash] li {
 list-style-type: '-';
 padding-left: 12px;
}

#page-content-wrapper .text-box ul[dash] {
 margin-left: 14px;
}

#page-content-wrapper .text-box ul[star] li {
 list-style-type: '⭐';
}
#page-content-wrapper .text-box ul[check] li {
 list-style-type: '✅';
}
#page-content-wrapper .text-box ul[number] li {
 list-style-type: decimal;
}
#page-content-wrapper .text-box ul[alpha] li {
 list-style-type: upper-alpha;
}

#page-content-wrapper .text-box li:last-child {
 margin-bottom: 0;
}

/* #endregion */

/* #region >>> Quote text <<< */

.quote-text {
 position: relative;
 margin: calc(1.2 * 1.2rem) 0;
 font-weight: inherit;
 line-height: 160%;
 /* border-left: 5px solid #ffff; */
 padding: 4px 3px 6px 16px;
 width: 100%;
 margin-left: 3px;
 transition: 0.3s background-color;
}

.quote-text::before {
 content: '';
 position: absolute;
 background: var(--text-color);
 border-radius: 4px;
 height: 100%;
 width: 5px;
 left: -5px;
 top: 0;
}

.quote-text:hover {
 background: rgba(255, 255, 255, 0.039);
}

.quote-text.red-border::before {
 background: #e74c3c;
}
.quote-text.blue-border::before {
 background: #339fe7;
}
.quote-text.green-border::before {
 background: #2ecc71;
}
.quote-text.yellow-border::before {
 background: #f1c40f;
}
.quote-text.orange-border::before {
 background: #e67e22;
}
.quote-text.purple-border::before {
 background: #d980fa;
}
.quote-text.white-border::before {
 background: rgb(255, 255, 255);
}

.quote-text p {
 /* padding: 3px 2px; */
 caret-color: rgba(255, 255, 255, 0.81);
 max-width: 100%;
 width: 100%;
 white-space: wrap;
 word-break: break-word;
 padding-left: 2px;
 padding-right: 2px;
 /* background: rgb(127, 58, 58); */
}

/* #endregion */

/* #region >>> list content <<<*/

.list-content {
 font-family: 'Optimistic Display', 'Open Sans', 'Source Sans Pro', sans-serif;
 /* font-size: 1.2rem; */
 font-weight: inherit;
 /* margin-bottom: calc(1.2 * 1.8rem); */
 margin-bottom: 1.2rem;
 padding: 5px;
 padding-left: 0;
}

.list-content .list-title {
 font-weight: 500;
 line-height: 130%;
 display: block;
 position: relative;
 /* border-bottom: 1px dotted #525252cb; */
 padding-bottom: 5px;
 /* margin-bottom: calc(1.4 * 1rem); */
 margin-bottom: 1rem;
}

.list-content .list-title::after {
 /* content: '▶'; */
 /* font-size: 0.8rem; */
 /* color: rgb(81, 81, 81); */
 content: '';
 border-radius: 12px;
 height: 28px;
 width: 5px;
 position: absolute;
 left: -20px;
 top: 0px;
 background-color: #16a085;
 box-shadow: 0px 0px 15px 0px #16a085;
 /* animation: FadeInAnimation 1.2s 2s ease-out infinite alternate-reverse; */
}

@media screen and (max-width: 800px) { 
  .list-content .list-title::after { 
    left: -17px;
  }
}

.list-content .list-title::before {
 /* bottom: -3px; */
}

.list-content.custom ul {
 margin-left: 0.5rem;
}

.list-content.custom li {
 line-height: 160%;
 position: relative;
 margin-bottom: 16px;
 margin-left: 1.9rem;
 padding: 8px 9px 8px 9px;
 background: var(--sideBar-bg-color);
 border: 1px solid #373737;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 border-radius: 5px;
 cursor: default;
 counter-increment: step-counter;
 transition: 0.3s all;
}

.list-content.custom li [underline] {
 text-underline-offset: 3px;
}

.list-content.custom li hr {
 border: none;
 margin: 8px 0;
}

.list-content.custom li:hover {
 background: #221e2cda;
}

.list-content.custom li:last-child {
 margin-bottom: 0;
}

.list-content.custom li::before {
 font-size: 0.8rem;
 font-weight: 600;
 background-color: #221e2c7e;
 box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
 color: #d7d5d5;
 border-radius: 5px;
 border: 2px solid #302d2d;
 border-bottom: 4px solid #2b2a2a;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 content: counter(step-counter);
 left: -38px;
 top: 8px;
 width: 1.8rem;
 height: 1.9rem;
}

.list-content.custom li::before:hover {
 background-color: rgba(188, 35, 35, 0.717);
 color: #fff;
}

.list-content.custom.dash li::before {
 content: '-';
}

.list-content.custom.none :is(ul, ul li) {
 margin-left: 0rem;
}

.list-content.custom.none li::before {
 display: none;
}

.list-content.custom.check li {
 counter-increment: none;
}

.list-content.custom.check li::before,
.list-content.custom.red_cross li::before {
 display: block;
 background: transparent;
 box-shadow: none;
 position: absolute;
 border: none;
}

.list-content.custom.check li::before {
 font-size: 1.4rem;
 content: '✅';
 top: -2px;
 left: -40px;
}
.list-content.custom.red_cross li::before {
 font-size: 1.3rem;
 content: '❌';
 top: -2px;
 left: -40px;
}

/* ----------------- */
/* normal list */
/* ----------------- */

.list-content.normal ul li {
 line-height: 160%;
 position: relative;
 background-color: #ecf0f100;
 border: none;
 box-shadow: none;
 padding: 0;
 /* margin-bottom: 1rem; */
 margin-bottom: 12px;
}

/* default */

.list-content.normal:is(.dash, .star, .red_cross, .boom, .check, .arrow) > ul > li,
.list-content.normal ul:is([dash], [star], [red_cross], [boom], [check], [arrow]) > li,
.list-content.normal ul > li:is([dash], [star], [red_cross], [boom], [check], [arrow]) {
 list-style-type: none;
}

.list-content.normal > ul {
 /* border: 1px solid rgb(174, 174, 174); */
 margin-left: 2.2rem;
 list-style-type: disc;
}

.list-content.normal:is(.disc, .number, .alpha) > ul {
 margin-left: 1.8rem;
}
.list-content.normal:is(.dash, .star, .red_cross, .boom, .check, .arrow) > ul {
 margin-left: 2.5rem;
}

.list-content.normal > ul > ul,
.list-content.normal > ul > ul > ul {
 /* border: 1px solid rgb(177, 34, 34); */
 margin-left: 1.4rem;
 margin-bottom: 1rem;
 list-style-type: disc;
}

.list-content.normal > ul > ul > ul {
 margin-left: 1.2rem;
 /* border: 1px solid rgb(70, 226, 23); */
}

.list-content.normal.none > ul {
 margin-left: 0.7rem;
}

.list-content.normal.none > ul > ul {
 margin-left: 2.8rem;
}

.list-content.normal.none > ul > ul > ul {
 margin-left: 1.4rem;
}

.list-content.normal ul li::before,
.list-content.normal.dash ul li::before,
.list-content.normal.check ul li::before,
.list-content.normal.red_cross ul li::before,
.list-content.normal.boom ul li::before,
.list-content.normal.star ul li::before,
.list-content.normal.arrow ul li::before {
 display: block;
 background: transparent;
 box-shadow: none;
 position: absolute;
 border: none;
}

.list-content.normal li::before {
 left: -40px;
}

.list-content.normal ul[dash] > li::before,
.list-content.normal ul > li[dash]::before,
.list-content.normal.dash > ul > li::before {
 content: '-';
 top: -2px;
 left: -29px;
}

.list-content.normal ul > li[dash]::before {
 content: '-' !important;
}

.list-content.normal ul[boom] > li::before,
.list-content.normal ul > li[boom]::before,
.list-content.normal.boom > ul > li::before {
 font-size: 1.2rem;
 content: '💥';
 top: -1px;
 /* left: -32px; */
}

.list-content.normal ul > li[boom]::before {
 content: '💥' !important;
}

.list-content.normal ul[check] > li::before,
.list-content.normal ul > li[check]::before,
.list-content.normal.check > ul > li::before {
 font-size: 1.2rem;
 content: '✅';
 top: -1px;
 /* left: -36px; */
}

.list-content.normal ul > li[check]::before {
 content: '✅' !important;
}

.list-content.normal ul[red_cross] > li::before,
.list-content.normal ul > li[red_cross]::before,
.list-content.normal.red_cross > ul > li::before {
 font-size: 1.2rem;
 content: '❌';
 top: -1px;
 /* left: -32px; */
}

.list-content.normal ul > li[red_cross]::before {
 /* more specific */
 content: '❌' !important;
}

.list-content.normal ul[arrow] > li::before,
.list-content.normal ul > li[arrow]::before,
.list-content.normal.arrow > ul > li::before {
 content: '▶';
 top: -1px;
 left: -33px;
}

.list-content.normal ul > li[arrow]::before {
 content: '▶' !important;
}

.list-content.normal.star > ul > li::before,
.list-content.normal ul[star] > li::before,
.list-content.normal ul > li[star]::before {
 content: '⭐';
 top: -1px;
 /* left: -33px; */
}

.list-content.normal ul > li[star]::before {
 content: '⭐' !important;
}

.list-content.normal ul li:last-child {
 margin-bottom: 0;
}

.list-content.normal.none > ul,
.list-content.normal ul[none] > li,
.list-content.normal ul > li[none],
.list-content.normal ul > li[none]::before {
 list-style-type: none;
 content: '' !important;
}

.list-content.normal.alpha > ul,
.list-content.normal ul[alpha] > li,
.list-content.normal ul > li[alpha],
.list-content.normal ul > li[alpha]::before {
 list-style-type: upper-alpha;
 content: '' !important;
}

.list-content.normal.number > ul,
.list-content.normal ul[number] > li,
.list-content.normal ul > li[number],
.list-content.normal ul > li[number]::before {
 list-style-type: decimal !important;
 content: '' !important;
}

.list-content.normal.disc > ul,
.list-content.normal ul[disc] > li,
.list-content.normal ul > li[disc],
.list-content.normal ul > li[disc]::before {
 list-style-type: disc;
 content: '' !important;
}

.list-content.normal ul > li[dash],
.list-content.normal ul > li[boom],
.list-content.normal ul > li[check],
.list-content.normal ul > li[red_cross],
.list-content.normal ul > li[arrow],
.list-content.normal ul > li[star] {
 list-style-type: none !important;
}

.list-content.normal.none > ul > li,
.list-content.normal.none > ul > li::before {
 content: '' !important;
 list-style-type: none;
}

.list-content.normal.alpha ul > li,
.list-content.normal.number ul > li,
.list-content.normal.disc ul > li,
.list-content.normal ul[alpha] > li,
.list-content.normal ul[number] > li,
.list-content.normal ul[disc] > li {
 padding-left: 5px;
}

/* #endregion */

/* #region >>> Collapsible Styling <<<*/

.Collapsible-container {
 margin-bottom: 22px;
}

.Collapsible-container .Collapsible-title {
 position: relative;
 font-size: 1.2rem;
 font-weight: inherit;
 line-height: 140%;
 cursor: pointer;
 padding: 14px 25px 14px 14px;
 border: 1px solid rgb(58, 58, 58);
 border-radius: 12px;
 transition: 0.3s all;
 user-select: none;
}

.Collapsible-container.opened .Collapsible-title {
 border-color: #292929;
 background: #30303065;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 margin-bottom: 25px;
}

.Collapsible-container .Collapsible-title:hover,
.Collapsible-container.opened .Collapsible-title:hover {
 background: #30303065;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Collapsible-container .Collapsible-title::after {
 content: '';
 width: 12px;
 height: 12px;
 display: block;
 position: absolute;
 top: 18px;
 right: 13px;
 border-left: 4px solid #636e72;
 border-bottom: 4px solid #636e72;
 transform-origin: center;
 transform: rotate(315deg);
 transition: 300ms all;
}

.Collapsible-container .Collapsible-title:hover::after,
.Collapsible-container.opened .Collapsible-title::after {
 border-color: #f5f6fa;
}

.Collapsible-container.opened .Collapsible-title::after {
 transform: rotate(135deg);
 top: 24px;
}

.Collapsible-container .Collapsible-content {
 display: none;
}

.Collapsible-container.opened .Collapsible-content {
 display: block;
 animation: collapse_content_view 0.3s ease-in-out;
 border-bottom: 1px dotted rgb(72, 72, 72);
 margin-bottom: 44px;
}

/* #endregion */

/* #region >>> top scroll <<<*/

.auto-top-scroll {
 bottom: 1.176rem;
 right: 1.176rem;
 position: fixed;
 width: 55px;
 height: 55px;
 background: var(--main-doc-header-content-bg-color);
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 border-radius: 10px;
 cursor: pointer;
 opacity: 0.4;
 z-index: 1;
 transition: 0.3s all;
}

/* .return-home-btn {
  background: rgb(255, 0, 0);
  top: 1.176rem;
  right: 1.176rem;
  /* position: fixed; */
/* width: 60px;
  height: 60px;
  padding: 7px;
  background: rgb(46, 46, 46);
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.4;
  /* z-index: 99; */
/* transition: 0.3s all; */
/* } */

.return-home-btn .home-btn {
 padding: 22px;
 opacity: 0.6;
}
*/ .return-home-btn .home-btn:hover {
 opacity: 1;
}

.auto-top-scroll:hover {
 opacity: 1;
}

.auto-top-scroll::after {
 content: '';
 display: block;
 position: relative;
 top: 18px;
 left: 13px;
 border: 3px solid rgb(186, 186, 186);
 border-bottom: none;
 border-right: none;
 width: 20px;
 height: 20px;
 transform: rotate(45deg);
}

/* #endregion */

/* #region >>> Tab Content Switch <<<*/

.tab-container {
 max-width: var(--main-doc-content-width);
 width: 100%;
 margin-bottom: calc(1.2 * 1.4rem);
 /* opacity: 0; */
}

.tab-container .main-tab-content {
 padding-top: 8px;
}

.tab-content .pre-block,
.tab-content .terminal-output {
 margin-top: 0;
 animation-delay: 0s !important;
}

.tab-content > p {
 margin-top: 18px;
}

.btn_tabs {
 display: flex;
 justify-content: start;
 flex-wrap: wrap;
 width: 100%;
}

.tab-btn {
 color: var(--text-color);
 font-size: 1.2rem;
 font-weight: 400;
 background: #1e1e1e;
 position: relative;
 text-align: center;
 margin-right: 2px;
 margin-bottom: 8px;
 border: 1px solid #212324;
 border-bottom: none;
 border-radius: 3px 3px 0 0;
 padding: 12px 16px;
 transition: 0.4s all;
 user-select: none;
}

@media screen and (max-width: 800px) {
 .tab-btn {
  width: 100%;
 }
}

.tab-btn::after {
 content: '';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 background: #646664;
 opacity: 0.5;
 height: 1px;
 transition: 200ms all;
}

.tab-btn.active::after {
 width: 100%;
 opacity: 1;
 height: 2.5px;
 background: #0be881;
 animation-name: FadeInAnimation;
 animation-duration: 1.3s;
 animation-iteration-count: infinite;
 animation-direction: alternate-reverse;
}

.tab-btn:hover {
 background: #222526;
 cursor: pointer;
}

.tab-btn.active {
 background: #222526;
}

.tab-btn.active:hover {
 background: #222222;
}

.disableTab {
 display: none;
}

/* #endregion */

/* #region >>> Mobile Screen <<<*/

@media screen and (max-width: 1000px) {
 .Collapsible-title::after {
  top: 12px;
 }

 .Collapsible-title.active::after {
  top: 18px;
 }

 .auto-top-scroll {
  right: 43%;
  bottom: 12px;
  width: 60px;
  height: 60px;
 }

 .auto-top-scroll::after {
  top: 25px;
  left: 20px;
 }

 #link-ref .tooltiptext {
  width: 270px;
 }

 #link-ref .tooltiptext::before {
  /* left: 22%; */
 }

 .tab-container {
  width: 100%;
  max-width: var(--main-doc-content-width);
 }
}

/* #endregion */
