/* ---------image Viewer----------- */

#image {
 cursor: pointer;
 /* display: block; */
 vertical-align: baseline;
 display: inline-block;
 /* width: 70%; */
 max-width: 90%;
 height: auto;
 margin-top: 1rem;
 margin-bottom: 1.4rem;
 border: 1px solid rgb(65, 65, 65);
 border-radius: 12px;
 opacity: 0;
 transition: 0.3s;
 animation: FadeInAnimation 1.5s forwards 0.2s;
}

#image:hover {
 opacity: 0.9;
 transform: scale(1.01);
}

#image.no-border {
 border: none;
}

.underline-text + #image {
 margin-top: 0px;
}


@media screen and (max-width: 1000px) {
 #image {
  /* width: 95%;
  margin: inherit auto; */
 }
}

.modal-image-view-container {
 background-color: rgba(0, 0, 0, 0.878);
 width: 100%;
 /* height: var(--content-render-height); */
 inset: 0;
 display: none;
 flex-direction: column;
 position: fixed;
 left: 0;
 top: 0;
 z-index: 100;
 overflow: auto;
}

@media screen and (max-width: 1366px) {
 .modal-image-view-container {
  width: var(--content-render-width);
  height: var(--content-render-height);
 }
}

.modal-image-view-container .modal-content-wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: var(--content-render-height);
}

.modal-image-title {
 display: none;
 font-size: 1.5rem;
 color: #fff;
 margin-top: 30px;
 animation: FadeInAnimation 0.5s ease-in-out alternate-reverse infinite;
}

.modal-image-content {
 display: block;
 border-radius: 5px;
 animation: ImageZoomPopUpAnimation 0.4s ease-in-out;
 transition: 400ms transform;
}

.close-modal-image-btn {
 opacity: 0.5;
 width: 80px;
 height: 80px;
 position: absolute;
 top: 15px;
 right: 35px;
 transition: 0.3s;
}

.close-modal-image-btn:hover {
 opacity: 1;
}
