:is(p, a, li, .block-title) code:not(code[class]),
:is(p, a, li, .block-title) terminal,
:is(p, a, li, .block-title) file,
:is(p, a, li, .block-title) folder,
:is(p, a, li, .block-title) text,
:is(p, a, li, .block-title) number {
 font-size: 90%;
 font-weight: 400;
 font-family: consolas, 'JetBrains Mono', monospace, 'Menlo', monospace;
 vertical-align: middle;
 margin: 0 0.2rem;
 white-space: nowrap;
 position: relative;
 bottom: 1px;
 border-radius: 3px;
 padding: 2px 6px;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 cursor: default;
 pointer-events: none;
 transition: all 0.3s;
 vertical-align: initial;
 text-decoration: none !important;
}

/* #region code | terminal style */

:is(p, a, li, .block-title) code:not(code[class]),
:is(p, a, li, .block-title) terminal {
 color: #eeee;
 background: #434343;
 border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

:is(p, a, li, .block-title) terminal {
 color: #eeee;
 background: #434343;
}

/* #endregion */

/* #region folder and file style */

:is(p, li, .block-title) folder {
 color: #404040;
 background-color: #d5a00f;
 border: 1px solid #8c6700;
 border-bottom: 3px solid #9e7a17;
 border-radius: 5px;
}

:is(p, li, .block-title) file {
 color: #b5b5b5;
 background-color: #292b28;
 border: 1px solid rgb(76, 76, 76);
 border-bottom: 3px solid rgb(91, 91, 91);
 border-radius: 5px;
}

/* #endregion */

/* #region text and number tag with color style */

:is(p, li, .block-title) text {
 /* color: #ffffff; */
 background: #c6ae1500;
 border: 0.1rem solid rgb(182, 182, 182);
}

:is(p, li, .block-title) number {
 /* color: #ffffff; */
 background: #242323;
 border: 0.1rem solid rgba(236, 236, 236, 0.38);
 border-radius: 0;
}

text[red],
number[red] {
 border: 0.1rem solid #e74d3cb6;
}

text[yellow],
number[yellow] {
 border: 0.1rem solid #ddd09a;
}

text[green],
number[green] {
 border: 0.1rem solid #14a952;
}

text[orange],
number[orange] {
 border: 0.1rem solid #cc6d1b;
}

text[purple],
number[purple] {
 border: 0.1rem solid #8749a0;
}

text[blue],
number[blue] {
 border: 0.1rem solid #32adff;
}

text[pink],
number[pink] {
 border: 0.1rem solid #c32672;
}

text[inherit],
number[inherit] {
 border: 0.1rem solid inherit;
}

/* #endregion */

/* #region colors with styles  */
/* colors :- */
/* inherit,red,green,yellow,orange,purple,pink,blue,sky,white,black,gray,lightblue,lightgreen */

/*  <code|terminal|text|number [...]> style color attribute */
/*  <color styles> <color> */
/*  <p class="color styles"> <p> */

red,
.red,
[red] {
 color: #eb5757 !important;
}

green,
.green,
[green] {
 color: #2ecc71 !important;
}

yellow,
.yellow,
[yellow] {
 color: #ddd09a !important;
}

orange,
.orange,
[orange] {
 color: #e67e22 !important;
}

purple,
.purple,
[purple] {
 color: #d980fa !important;
}
.pink,
[pink],
pink {
 color: #c32672 !important;
}

blue,
.blue,
[blue] {
 color: #339fe7 !important;
}
.sky,
[sky],
sky {
 color: #4ebef8 !important;
}

white,
.white,
[white] {
 color: var(--text-color) !important;
}
black,
.black,
[black] {
 color: #242323 !important;
}
.gray,
[gray],
gray {
 color: #80807a !important;
}

inherit,
.inherit,
[inherit] {
 color: inherit !important;
}

.lightblue,
[lightblue],
lightblue {
 color: #9cdcfe !important;
}
.lightgreen,
[lightgreen],
lightgreen {
 color: rgb(171, 186, 104) !important;
}

/* Text Styles */
/* styles :- */
/* center,left,right,justify,bold,capitalize,consolas,underline,small,smaller */

[bold],
bold,
.bold {
 font-weight: 600 !important;
}

[cap],
[capitalize],
capitalize,
cap,
.capitalize,
.cap {
 text-transform: capitalize !important;
}

[consolas],
consolas,
.consolas {
 font-family: Consolas, 'JetBrains Mono', monospace !important;
}

[underline],
underline,
.underline {
 text-decoration: underline;
 text-decoration-color: inherit;
 text-underline-offset: 4px;
}

[underline-red],
underline-red,
.underline-red {
 text-decoration: underline;
 text-underline-offset: 4px;
 text-decoration-color: #eb5757;
}

[underline-green],
underline-green,
.underline-green {
 text-decoration: underline;
 text-underline-offset: 4px;
 text-decoration-color: #2ecc71;
}

[underline-blue],
underline-blue,
.underline-blue {
 text-decoration: underline;
 text-underline-offset: 4px;
 text-decoration-color: #339fe7;
}

[center],
center,
.center {
 text-align: center !important;
}
[left],
left,
.left {
 text-align: left !important;
}
[right],
right,
.right {
 text-align: right !important;
}

[justify],
justify,
.justify {
 text-align: justify !important;
}

small,
[small],
.small {
 font-size: 80% !important;
}
smaller,
[smaller],
.smaller {
 font-size: 50% !important;
}

/* #endregion */

highlight {
 border-bottom: 1px solid yellow;
}

.view-border {
 border: 1px solid rgb(114, 114, 114);
 padding: 22px;
}
